#!/bin/bash

#Shadertoy
SHADERTOY_USER=rblb
SHADERTOY_KEY=


#Youtube
YOUTUBE_CHANNEL=UCh_H0NPkra9GZU_KFC5eVbw
YOUTUBE_KEY=


# Github 
GITHUB_ACCOUNTS=riccardobl,jmePhonon,f3b

#Twitter
TWITTER_CONSUMER_KEY=
TWITTER_CONSUMER_SECRET=
TWITTER_ACCESS_TOKEN_KEY=
TWITTER_ACCESS_TOKEN_SECRET=
TWITTER_COLLECTION=custom-XXXXX

#Dropbox
DROPBOX_APIKEY=
DROPBOX_FOLDERS=devlog