<section class="devlog">
    <h1>DevLog</h1>
    <p>
        A random collection of my thoughts, ideas and a sneak peek of my projects.
    </p>

    <section class="list">
        {{ $filter := slice "devlog" }}
        {{ $pages := (where .Site.Pages "Params.tags" "intersect" $filter )}}
        {{ range first 3 $pages }}
        {{ partial "articlePreview.html" . }}
        {{ end }}
    </section>

    <h3>
        <sub>
        {{ with $.Site.GetPage "taxonomyTerm" (printf "tags/%s" "devlog") }}
        <a href="{{ .RelPermalink }}">See more...</a>
        {{ end }}
        </sub>
    </h3>
</section>
