<!-- <img class="optional" src='{{  .Param "avatarCache" }}'> -->
<fakheader>
    <div id="rblb"></div> 

</fakheader>
<header >
<div>
    <div id="rblb"></div> 
</div>
<div id="board">
    <div>
        <p>
            I am Riccardo Balbo, a freelance developer.
            <br> I develop full stack web applications, software, iot and more.
            <br>
            Feel free to contact me for a quote or for more information.
            
            
            

                <piva>P.IVA 05607610283</piva>

        </p>

    </div>

  

</div>

<div>
    <nav id="rblb">
        <a href="/"><span class="material-symbols-outlined">home</span> Home</a>
        <!-- <a href="/tags/devlog"><span class="material-symbols-outlined">bookmark_add</span> DevLog</a> -->
        <a href="/contacts"><span class="material-symbols-outlined">mail</span> Get in touch</a>
    </nav>
</div>

</header>
