<fakheader>
    <div id="rblb"></div> 

</fakheader>
<header >
<div>
    <div id="rblb"></div> 
</div>
<div id="board">
    <div>
        <p>
            I am Riccardo Balbo, a freelance developer working on game technology, graphics, backend systems, web applications and open protocols.
            <br>
            <br>
            I like practical software, small teams, and projects that move from a rough idea to something people can actually use.
        </p>
        <piva>P.IVA 05607610283</piva>

    </div>

  

</div>

<div>
    <nav id="rblb">
        <a href="/"><span class="material-symbols-outlined">home</span> Home</a>
        <a href="/contacts"><span class="material-symbols-outlined">mail</span> Get in touch</a>
    </nav>
</div>

</header>
