<nav class="vmenu">
    <div class="toggleContent"></div>
    <b><a href="/">Home</a></b>
      <a href="/tags/devlog">Misc / Devlog</a>
      <b><a href="/tags/highlighted">Highlighted Projects</a></b>

      {{ $paginator := .Paginator }}
      {{ $filter := slice "highlighted" }}
      {{ $pages := (where  .Site.Pages  "Params.tags"  "intersect" $filter )}}
      {{ range $pages  }}
      {{ if .Params.summarytitle }}
      <a href="{{.RelPermalink}}">{{ .Params.summarytitle | truncate 20 }}</a>
      {{else}}
      {{ if .Title }} <a href="{{.RelPermalink}}">{{ .Title | truncate 20 }}</a>{{ end }}
      {{end}}
      {{ end }}
      <a rel="noopener noreferrer" href="https://github.com/riccardobl?tab=repositories" target="_blank">Opensource Repos</a>

    <b><a href="/posts/jmonkeyengine/">jMonkeyEngine plugins</a></b>
      {{ $paginator := .Paginator }}
      {{ $filter := slice "jmonkeyengine" "jmonkeyengine3" }}
      {{ $pages := (where  .Site.Pages  "Params.tags"  "intersect" $filter )}}
      {{ range $pages  }}
      {{ if .Params.summarytitle }}
      <a href="{{.RelPermalink}}">{{ .Params.summarytitle | truncate 20 }}</a>
      {{else}}
      {{ if .Title }} <a href="{{.RelPermalink}}">{{ .Title | truncate 20 }}</a>{{ end }}
      {{end}}
      {{ end }}
</nav>