<section class="skills">

<h1 id="skills">Skills</h1>
<p>
    
    Over the years I have gained experience in various fields, including game development, 3D art and full-stack web development.
</p>
<section class="icons">

    <article class="hoverDeScale">
        <h2>
            <a href="https://en.wikipedia.org/wiki/OpenGL" target="_blank" rel="noopener noreferrer nofollow" >OpenGL</a>
             and 
             <a href="https://en.wikipedia.org/wiki/OpenGL_Shading_Language" target="_blank" rel="noopener noreferrer nofollow" >GLSL</a></h2>
        <i class="icon opengl"></i>

    </article>

    <article  class="hoverDeScale">

        <h2> <a href="https://en.wikipedia.org/wiki/Java_(programming_language)" target="_blank" rel="noopener noreferrer nofollow" >Java</a> and
            <a href="https://en.wikipedia.org/wiki/Java_Native_Interface" target="_blank" rel="noopener noreferrer nofollow" >JNI</a>
            
            </h2>
        <i class="fab fa-java"></i>
  
    </article>

    <article  class="hoverDeScale">
        <h2>       <a href="https://en.wikipedia.org/wiki/Bash_(Unix_shell)" target="_blank" rel="noopener noreferrer nofollow" >Bash</a> and 
                <a href="https://en.wikipedia.org/wiki/Linux" target="_blank" rel="noopener noreferrer nofollow" >Linux</a></h2>
        <i class="fab fa-linux"></i>

    </article>

    <article  class="hoverDeScale">
        <h2><a href="https://en.wikipedia.org/wiki/C_(programming_language)" target="_blank" rel="noopener noreferrer nofollow" >C </a>/ 
            <a href="https://en.wikipedia.org/wiki/C%2B%2B" target="_blank" rel="noopener noreferrer nofollow" >C++</a></h2>
        <i class="icon c"></i>
     
    </article>



    <article  class="hoverDeScale">
        <h2><a href="https://en.wikipedia.org/wiki/Docker_(software)" target="_blank" rel="noopener noreferrer nofollow" >Docker</a></h2>
        <i class="fab fa-docker"></i>

    </article>

    <article  class="hoverDeScale">
        <h2><a href="https://en.wikipedia.org/wiki/JavaScript" target="_blank" rel="noopener noreferrer nofollow" >Javascript</a></h2>
        <i class="fab fa-js-square"></i>
   
    </article>

    <article  class="hoverDeScale">
        <h2><a href="https://en.wikipedia.org/wiki/Node.js" target="_blank" rel="noopener noreferrer nofollow" >NodeJS</a></h2>
        <i class="fab fa-node"></i>

    </article>




    <article  class="hoverDeScale">
        <h2><a href="https://en.wikipedia.org/wiki/HTML" target="_blank" rel="noopener noreferrer nofollow" >HTML</a>(5)</h2>
        <div>
            <i class="fab fa-html5"></i>
        </div>
  
    </article>

    <article  class="hoverDeScale">
        <h2> <a href="https://en.wikipedia.org/wiki/Cascading_Style_Sheets" target="_blank" rel="noopener noreferrer nofollow" >CSS</a>(3)</h2>
        <div>
            <i class="fab fa-css3-alt"></i>
        </div>
      
    </article>

    <article  class="hoverDeScale">
        <h2><a href="https://en.wikipedia.org/wiki/MySQL" target="_blank" rel="noopener noreferrer nofollow" >MySQL</a></h2>
        <i class="fas fa-database"></i>
    
    </article>

    <article  class="hoverDeScale">
        <h2><a href="https://en.wikipedia.org/wiki/PHP" target="_blank" rel="noopener noreferrer nofollow" >PHP</a></h2>
        <i class="fab fa-php"></i>

    </article>



    <article  class="hoverDeScale">
        <h2><a href="https://en.wikipedia.org/wiki/Python_(programming_language)" target="_blank" rel="noopener noreferrer nofollow" >Python</a></h2>
        <i class="fab fa-python"></i>

    </article>

    <article class="hoverDeScale" >
        <h2><a href="https://www.blender.org/" target="_blank" rel="noopener noreferrer nofollow" >Blender</a></h2>
        <i class="icon blender"></i>

 
    </article>

    <article  class="hoverDeScale">
        <h2><a href="https://en.wikipedia.org/wiki/Git" target="_blank" rel="noopener noreferrer nofollow" >Git</a></h2>
        <i class="fab fa-git-alt"></i>

    </article>
    
      <article  class="hoverDeScale">
        <h2><a href="https://p5js.org/" target="_blank" rel="noopener noreferrer nofollow" >P5js</a></h2>
        <i class="icon p5js"></i>

     
    </article>
    <article  class="hoverDeScale">
        <h2><a href="https://en.wikipedia.org/wiki/JMonkeyEngine" target="_blank" rel="noopener noreferrer nofollow" >jMonkeyEngine</a></h2>
        <i class="icon jme"></i>

 
    </article>
    <article  class="hoverDeScale">
        <h2><a href="https://workers.cloudflare.com/" target="_blank" rel="noopener noreferrer nofollow" >Cf Workers</a></h2>
        <i class="icon cfw"></i>

 
    </article>
   

    <article  class="hoverDeScale">
        <h2><a href="https://www.langchain.com/" target="_blank" rel="noopener noreferrer nofollow" >Langchain</a></h2>
        <i class="icon langchain"></i>

 
    </article>
  
    </section>